@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root{
  font-size: calc(0.8em + 0.2vmax);
}
.body{
  background-color: rgb(240, 240, 240);
  padding: 1em;
  margin: 0;
  font-family: 'Source Sans Pro';
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: 3fr;
  grid-gap: 1em;

}

.bi-cart-fill{
  color: #0000ff;
  width: 50px;
  height: 30px;
}

.producto{
  font-family: 'Source Sans Pro';
  max-width: 280px;
  height: 700px;
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  margin-bottom: 50px;
    background-color: rgb(250, 250, 250);
}
.producto>a{
  flex-flow: column;
  max-width: 280px;
  height: 500px;
}
.producto>a>img{
  font-family: 'Source Sans Pro';
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:hover{
  box-shadow: 0 0 0.1.5em rgba(0, 0, 0, 0.2);
}

.i-anime{
  font-family: 'Source Sans Pro';
  cursor: pointer;
  background-color: rgb(52, 131, 250);
  color: rgb(255, 255, 255);
  font-weight: 600;
  max-width: max-content;
  padding: 0 0.2em;
  border-radius: 3px;
  font-size: 0.8em;
}

.i-title{
  font-size: 1.4rem;
}
.i-specs{
  font-family: 'Source Sans Pro';
  cursor: pointer;
  border-top: 1px solid rgb(230, 230, 230);
  padding: 1em;
  display: flex;
  flex-flow: column;
}

.stock{
  width: 10rem;
  text-align: center;
  border-style:groove;
  border-color: #0000ff;
  
}
.i-price{
  font-size: 1.7rem;
  color: rgb(0, 230, 0);
}

.Count{
  display: inline-flex;
  height: 2.5rem;
}
.qtyItems{
  color: blue;
  position: absolute;
  background-color: red;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 25px;
  font-size: 0.8rem;
}

[class*="entypo-"]:before { font-family: 'entypo', sans-serif; }
body {
  background-color: #ecf0f1;
  font: 300 1.25em/1.4 "Lato", sans-serif;
  color: #686868;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1, .sub-heading {
  text-align: center;
  margin: .5rem 0 1rem;
}
.sub-heading {
  font-size: .75em;
  font-weight: 300;
}

/**
 * @section: utilities;
 * @see: Justify Grid [http://justifygrid.com/]
 */
._grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  text-rendering: optimizespeed;
}
._grid:after {
  content: "";
  display: inline-block;
  width: 100%;
}
._column {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  text-align: left;
  text-rendering: optimizeLegibility;
}
._btn {
  display: inline-block;
  background-color: #bdc3c7;
  border: none;
  padding: .5em .75em;
  text-align: center;
  font-weight: 300;
}
._btn:hover,
.cart-totals:hover ._btn {
  background-color: #3498db;
  color: #ecf0f1;
}

/**
 * @section: shopping-cart;
 */
.shopping-cart {
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}
/**
 * @extends: _grid;
 */
.shopping-cart--list-item {
  border: 1px solid #bdc3c7;
  margin-bottom: 3rem;
  height: 10rem;
  overflow: hidden;
}
.shopping-cart--list-item:hover,
.shopping-cart--list-item:hover * {
  border-color: #3498db;
}
.shopping-cart--list-item > ._column {
    height: 100%; /* make vertical lines match */
}

/**
 * @section: product-image;
 * @extends: _column;
 */
.product-image {
  width: 5.663198%;
  margin-top: -40px;
  margin-left: 50px;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") no-repeat center / cover transparent;
}

/**
 * @section: product-info;
 * @extends: _column;
 */
.product-info {
  width: 70.832119%;
  padding: .5rem;
}
.product-name {
  font: 300 2.4em/1 "Lato", sans-serif;
  letter-spacing: -.025em;
  margin: 0 0 .125em;
}
.price {
  line-height: 1;
  text-align: right;
}
.product-single-price {
  margin-top: -4rem;
  font-size: 2.4em;
}

/**
 * @section: product-modifiers;
 * @extends: _column;
 */
.product-modifiers {
  width: 12.496358%;
  text-align: right;
  border-left: 1px solid #bdc3c7;
}
.product-subtract,
.product-plus,
.product-qty {
  width: 33.330557%;
  background-color: transparent;
  color: #686868;
  text-align: center;
}
.product-qty {
  padding: .35em .75em;
}
.product-remove {
  font-size: .875em;
  margin-top: 3.35rem;
  background-color: #e74c3c;
  color: #ecf0f1;
  width: 100%;
  visibility: hidden;
}
.product-modifiers:hover .product-remove {
  visibility: visible;
}
.product-remove:before {
  margin-right: .5em;
}
.product-remove:hover {
  background-color: #c0392b;
}
.product-total-price {
  border-top: 1px solid #bdc3c7;
  color: #95a5a6;
  font-size: 1.25em;
  padding: .5rem;
}
.shopping-cart--list-item:hover .product-total-price {
  background-color: #3498db;
  color: #ecf0f1;
}

/**
 * @section: cart-totals;
 * @extends: _grid;
 */
.cart-totals {
  border-top: 1px solid #bdc3c7;
  margin-bottom: 3rem;
}
.cart-totals ._column {
  width: 19.984013%;
  padding: .5rem;
  line-height: 1.2;
}
.cart-totals ._column:not(:last-of-type) {
  border-right: 1px solid #bdc3c7;
}
.cart-totals ._column:first-of-type {
  padding-left: 0;
}
.cart-totals-key {
  font-size: 1.125em;
  color: #bdc3c7;
}
.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
  color: #333;
}
.cart-totals-value {
  font-size: 2em;
}
._column.checkout {
  text-align: right;
  padding: 0;
  margin-top: 1.5em;
  vertical-align: middle;
}
.checkout-btn:before {
  margin-right: .5em;
}
._btn.checkout-btn:hover {
  background-color: #2980b9;
}

/**
 * Animations
 */
.product-remove,
.cart-totals * {
  transition: all .2s ease;
}
.closing {
  transition: all .5s ease;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}
