@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root{
  font-size: calc(0.8em + 0.2vmax);
}
.body{
  background-color: rgb(240, 240, 240);
  padding: 1em;
  margin: 0;
  font-family: 'Source Sans Pro';
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: 3fr;
  grid-gap: 1em;

}

.bi-cart-fill{
  color: #0000ff;
  width: 50px;
  height: 30px;
}

.producto{
  font-family: 'Source Sans Pro';
  max-width: 280px;
  height: 800px;
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  margin-bottom: 50px;
    background-color: rgb(250, 250, 250);
}
.producto>a{
  flex-flow: column;
  max-width: 280px;
  height: 500px;
}
.producto>a>img{
  font-family: 'Source Sans Pro';
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:hover{
  box-shadow: 0 0 0.1.5em rgba(0, 0, 0, 0.2);
}

.i-anime{
  font-family: 'Source Sans Pro';
  cursor: pointer;
  background-color: rgb(52, 131, 250);
  color: rgb(255, 255, 255);
  font-weight: 600;
  max-width: max-content;
  padding: 0 0.2em;
  border-radius: 3px;
  font-size: 0.8em;
}

.i-title{
  font-size: 1.4rem;
}
.i-specs{
  font-family: 'Source Sans Pro';
  cursor: pointer;
  border-top: 1px solid rgb(230, 230, 230);
  padding: 1em;
  display: flex;
  flex-flow: column;
}

.stock{
  width: 10rem;
  text-align: center;
  border-style:groove;
  border-color: #0000ff;
  
}
.i-price{
  font-size: 1.7rem;
  color: rgb(0, 230, 0);
}

.Count{
  display: inline-flex;
  height: 2.5rem;
}
.qtyItems{
  color: blue;
  position: absolute;
  background-color: red;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 25px;
  font-size: 0.8rem;
}